.body {
  background-color: #61dafb;
}


.App {

  margin: 100px;
  pardding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: inherit;
  margin-right: inherit;

}

.button,
#button1,
#button2,
#button3,
#button4,
#button5,
#button6 {
  /* background-color: hsl(0, 20%, 40%); */
  width: 200px;
  border: 3px groove rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  list-style: none;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  /* transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1); */
  white-space: nowrap;
  word-wrap: break-word;
  background: black;
  border-radius: 12px;
  border: none;
  outline-offset: 4px;
  padding: 0;
  display: inline-block;
  opacity: 0.8;
  font-weight: 500;
  overflow: visible;
  /* flex-direction: left; */

}

.front:hover {
  background-color: hsl(0, 100%, 0%);
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.buttons {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  margin-top: 200px;
  float: left;
  /* width: 50%; */
}

.vertical {
  height: 25px;
  width: 3px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
}

.cards {
  /* float: left; */
  display: flex;
  flex-direction: left;
  width: 100%;

}

.parent {
  display: flex;
  flex-direction: left;
}


.front {
  box-shadow: rgba(27, 31, 35, 0.75) 0 5px 0, rgba(5, 200, 255, 0.30) 0 1px 0 inset;
  display: block;
  border-radius: 12px;
  padding: 12px 42px;
  background: white;
  transform: translateY(-6px);
  padding: 10px;
  border: 0.05px outset black;
}


.button:active .front {
  transform: translateY(-2px);
}




.page-header {
  color: black;
  background-color: white;
  font-family: Retina, Arial, Helvetica, sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 7em;
  font-weight: 100;
  /* width: 100%; */
  /* text-align: center; */
  padding: 8px;
  margin-top: 2px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
  letter-spacing: 2px;
  border: 2px;
  /* float:left; */
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.page-header img {
  margin-right: 20px;
}


.page-header h1 {
  /* text-indent: -100px; */
  letter-spacing: .1em;
  text-transform: uppercase;
}

.page-border {
  background-color: black;
  height: 2px;
  width: 95%;
  margin-left: 20px;
  margin-right: 20px;
}


#img123 {
  margin: auto;
}


.card1 {
  border-radius: 50px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(200, 200, 200, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  /* width:700px; */
  height: 700px;
  color: black;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: black;
  color: #4af626;
  transition: 1s;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  width: 90%;
  padding: 40px;
}

.card2 {
  border-radius: 50px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(200, 200, 200, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  width: 700px;
  height: auto;
  color: black;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 0px;
  /* text-align: center; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: black;
  color: #4af626;
  transition: 1s;
  float: left;

  padding: 10px;
}



.card1:hover {
  box-shadow: 0px 0px 2px 2px black;
  border-radius: 50px;
}



.card2 {
  border-radius: 6px;

}


.card {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}




.highlight-1 {
  background-color: #fcfbde;
}

.highlight-2 {
  background-color: #d9f2de;
}


/* The container for the entire page */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* The header section */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

/* The main content section */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 50px);
}

/* The card container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 60%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
}

/* The card */
.card {

  background-color: white;
  margin: 20px;
  box-shadow: 0px 0px 5px 5px black;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  width: 500px;
}

/* The card image */
.card img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}

/* The card title */
.card h3 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

/* The card description */
.card p {
  margin-top: 10px;
  font-size: 14px;
  color: black;
  text-align: center;
}

/* The card button */
.card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* The card button hover effect */
.card button:hover {
  background-color: white;
  color: black;
}


.form {
  display: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #000000;
  transition: all 0.5s ease-in-out;
}

.form-input {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-input label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
}

.form-submit {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-submit:hover {
  background-color: white;
  color: black;
}

.show-form {
  display: block !important;
}


#button5 {
  margin-top: 30px;
}